## MacOS Hidden Files and Directories ########################################################### ##

__MACOSX/
.DS_Store

## Windows Hidden Files and Directories ######################################################### ##

$RECYCLE.BIN/
Desktop.ini
Thumbs.db

## Editors ###################################################################################### ##

.idea/
.vscode/

## Project files ################################################################################ ##

node_modules/
